<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {{{ style }}}
</head>

<body class="{{#if resume.meta.layout}}{{resume.meta.layout}}{{/if}}">
  <main id="resume" class="page">
    <div class="resume-content">
      <aside class="left-column">
        {{#resume.basics}}
          {{#if image}}
            <div class="profile-pic">
              <img src="{{image}}" alt="profile-pic">
            </div>
          {{/if}}
        {{/resume.basics}}
        {{> about }}
        {{> education }}
        {{> skills }}
        {{> languages }}
        {{> interests }}
      </aside>
      <div class="right-column">
        {{#resume.basics}}
          <header class="right-header">
            <h1>{{name}}</h1>
            {{#if label}}<h2>{{label}}</h2>{{/if}}
          </header>
        {{/resume.basics}}
        {{> summary}}
        {{> work }}
        {{> projects }}
        {{> volunteer }}
        {{> awards }}
        {{> publications }}
        {{> references }}
      </div>
    </div>
  </main>
</body>

</html>
